.balance-overview {
    padding: 10px;
    background-color: #242424;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .chart-container {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: auto;
  }
  